<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"> -->
  <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
  <link rel="stylesheet" href="/css/locomotive-scroll.min.css">
  <!-- <script src="/js/locomotive-scroll.min.js"></script> -->
  <title>Document</title>
</head>
<body>
  <div class="l-container" data-scroll-container>
    <div data-scroll-section>
      <div class="l-inner">
        <h1 class="title" data-scroll data-scroll-class="appear" data-scroll-repeat="true">
          <div>
            <span data-scroll data-scroll-speed="3" data-scroll-position="top">H</span><span data-scroll data-scroll-speed="1" data-scroll-position="top">e</span><span data-scroll data-scroll-speed="2" data-scroll-position="top">y</span><span data-scroll data-scroll-speed="4" data-scroll-position="top">👋</span>
          </div>
          <div data-scroll data-scroll-speed="3">Locomotive</div>
        </h1>
      </div>
    </div>
    <section data-scroll-section>
      <h2 class="sub-title" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-3">What's up?😬</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br>
        <br>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.<br>
        <br>
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.<br>
        <br>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).<br>
        <br>
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
      </p>
    </section>
    <section data-scroll-section>
      <div class="l-inner">
        <p>A simple scroll library used by developers at Locomotive. Built as a layer on top of ayamflow's virtual-scroll, it provides smooth scrolling with support for parallax effects, toggling classes, and triggering event listeners when elements are in the viewport.</p>
        <ul class="c-summary_list">
          <li class="c-summary_list_item u-label" data-scroll>
              <a href="#speed-control" data-scroll-to>
                  01. Speed Control
                  <span class="c-summary_list_icon u-icon">
                      ↓
                  </span>
              </a>
          </li>
          <li class="c-summary_list_item u-label" data-scroll>
              <a href="#scroll-direction" data-scroll-to>
                  02. Scroll direction
                  <span class="c-summary_list_icon u-icon">
                      ↓
                  </span>
              </a>
          </li>
          <li class="c-summary_list_item u-label" data-scroll>
              <a href="#lerp-effect" data-scroll-to>
                  03. Lerp effect
                  <span class="c-summary_list_icon u-icon">
                      ↓
                  </span>
              </a>
          </li>
          <li class="c-summary_list_item u-label" data-scroll>
              <a href="#fixed-elements" data-scroll-to>
                  04. Fixed Elements
                  <span class="c-summary_list_icon u-icon">
                      ↓
                  </span>
              </a>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <script src="/js/index.js"></script>
</body>
</html>